div,
html,
body {
  margin: 0;
  padding: 0
}

.container {
  position: relative;
}

html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

#Logo {
  background: linear-gradient(#1d1d2c, 30%, #675284, 70%, #282135);
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 300vh;
}

/* logo */
.logo {
  height: 300vh;
  position: relative;
}

#logoText {
  color: #f8f9ad;
  position: absolute;
  right: 14%;
  top: 15%;
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 8;
  outline: none;
}

#logoText>p {
  letter-spacing: 0.15em;
  font-size: 16rem;
  animation: logoText 1.5s 1 forwards;
}

#contactBtn {
  padding: 0 2rem;
  line-height: 3;
  border: 1px solid #ffffff;
  font-size: 1.3rem;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  cursor: pointer;
  animation: logoText 3s 1 forwards;
}

.contactBtnBox {
  transition: all .3s;
}

.contactBtnBox:hover {
  transform: scale(1.3);
}

.littleThings {
  position: absolute;
  height: 200vh;
  width: 100vw;
}

.littleThings>img {
  position: absolute;
  width: 13%;
}

.littleThings img:nth-child(1) {
  top: 0;
  left: 2%;
  animation: logoPurplePlant 3s;
}

.littleThings img:nth-child(2) {
  left: 28%;
  animation: flyRocket 3s forwards;
  top: 18%;
}

.littleThings img:nth-child(3) {
  top: 60%;
  right: 11%;
  width: 20%;
}

.littleThings img:nth-child(4) {
  top: 89%;
  right: 4%;
  transform: rotate(20deg);
}

.littleThings img:nth-child(5) {
  top: 79%;
  left: 20%;
  transform: rotate(99deg);
}

.littleThings img:nth-child(6) {
  top: 42%;
  left: 80%;
  animation: arrow 3s infinite;
  cursor: pointer;
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.8), 0 0 20px 0 #FFFFFF;
  animation: glow 5s infinite;
}

.starMedium {
  width: 6px;
  height: 6px;
}

.starBig {
  width: 9px;
  height: 9px;
  box-shadow: 0 0 40px 0 #ffffff, 0 0 20px 0 #FFFFFF, inset 0 0 4px #FFFFFF;
}

.meteor {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 8px rgba(255, 255, 255, 0.6);
  top: 0;
  left: 80%;
  opacity: 0.3;
  transform: rotate(-45deg) translate(0, -50px);
  animation: meteor 6s infinite;
}

.meteor:after {
  content: '';
  width: 20vw;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(237, 205, 163, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes glow {
  0% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes meteor {
  0% {
    transform: rotate(-45deg) translateX(0);
    opacity: 0.3;
  }

  10% {
    opacity: 1;
  }

  20% {
    transform: rotate(-45deg) translateX(-100vw);
    opacity: 0;
  }

  100% {
    transform: rotate(-45deg) translateX(-100vw);
    opacity: 0;
  }
}

@keyframes flyRocket {
  0% {
    transform: translate(-16vw, 78vh);
    z-index: -2;
  }

  100% {
    transform: translate(0, 0) rotate(-15deg);
    z-index: 1;
  }
}

@keyframes logoText {
  0% {
    transform: translate(0, 60vh);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes logoPurplePlant {
  from {
    opacity: 0;
  }
}

@keyframes arrow {
  100% {
    top: 43%;
    left: 78%;
  }
}

/* team */
.team {
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.backgroundImg {
  position: absolute;
  bottom: 0;
  right: 0%;
  transition: all 2.2s ease-in-out;
  z-index: 1;
}

.teamLeft {
  width: 40%;
  position: relative;
  z-index: 2;
}

#Group {
  position: absolute;
  left: 75%;
  transition: all .3s;
}

.teamRight {
  width: 60%;
  cursor: pointer;
  z-index: 2;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 80%;
  margin: auto;
}

.group {
  width: 35%;
  height: 25%;
}

.GroupImgBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.GroupImgBox img {
  z-index: 2;
}

.GroupComic {
  width: 45%;
  transition: all .5s ease-in-out;
}

.groupText p:nth-child(2) {
  text-indent: 1.3cm;
}

.groupText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -50% 0;
  z-index: 1;
  padding: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: #8e2828;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  transition-duration: 0.3s;
  position: relative;
}

.GroupLogo {
  width: 20%;
  height: 30%;
  margin: auto 0;
  transition: all 0.3s ease-in-out;
}

.teamLeftLogo {
  width: 30%;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* animation: bounce 2.2s 1; */
  box-shadow: 6px 4px 20px 2px #46393963;
  transition: all .8s ease-in-out
}

.borderTopLeft {
  position: absolute;
  top: 0;
  left: 0;
  border-top-style: solid;
  width: 0;
  height: 0;
  border-left-style: solid;
  animation: borderAnimation 5s infinite linear;
}

.borderBottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-style: solid;
  width: 0;
  height: 0;
  border-right-style: solid;
  animation: borderAnimation 3s infinite linear;
}

.teamLeftBox img:nth-child(1) {
  z-index: 2;
}

.teamLeftBox img:nth-child(2) {
  width: 17%;
}

.teamLeftBox img:nth-child(3) {
  width: 15%;
}

.teamLeftBox img:nth-child(4) {
  width: 14%;
}

.teamLeftBox img:nth-child(5) {
  width: 15%;
}

.teamLeftBox img:nth-child(6) {
  width: 16%;
}

@keyframes borderAnimation {
  0% {
    width: 30%;
    height: 1%
  }

  50% {
    width: 1%;
    height: 50%
  }

  100% {
    width: 30%;
    height: 1%
  }
}

/* presidium */

.presidium {
  height: 300vh;
}

.presidiumContent {
  height: 100vh;
  position: relative;
  background: linear-gradient(#282135, 70%, #4a3737);
  overflow: hidden;
  position: sticky;
  top: 0;
}

.presidiumContent>ul {
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: flex;
  align-items: flex-end;
  width: 150vw;
  transition: all .05s ease-in-out;
}

.presidiumContent>ul li {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}

.presidiumContent ul li:nth-child(1) {
  letter-spacing: 1px;
  line-height: 1.5;
  color: #ffffff;
  font-size: 1.8rem;
  padding-right: 9vw;
}

.presidiumContent ul li:nth-child(11) div.PresidiumSaying {
  top: -41vh;
}

.presidiumContent ul li:not(:first-child) {
  font-size: 25px;
  line-height: 1.3;
  transition: all .5s ease-in-out;
}

.presidiumContent ul li:not(:first-child) p {
  color: #d6fffc;
}

.presidiumContent li.musicpaper {
  position: absolute;
  z-index: -1;
  left: 0;
  right: -50vw;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}

.presidiumContent li.musicpaper .end {
  position: absolute;
  left: 100%;
  top: -1px;
  bottom: -1px;
  margin-left: -1px;
  width: 6px;
  background-color: rgba(255, 255, 255, 0.1);
}

.presidiumContent li.musicpaper.eq0 {
  top: 20%;
  height: 60%;
}

.presidiumContent li.musicpaper.eq1 {
  top: 35%;
}

.presidiumContent li.musicpaper.eq2 {
  top: 50%;
}

.presidiumContent li.musicpaper.eq3 {
  top: 65%;
}

.presidiumContent li.musicpaper.eq4 {
  top: 80%;
}

.presidiumContent li.musicpaper.eq4 .end {
  top: -100%;
  bottom: 100%;
  width: 2px;
  margin-top: -1px;
  margin-left: -7px;
}

.presidiumContent li.presidiumCloud {
  position: absolute;
  bottom: -52%;
}

.presidiumContentCloud {
  display: flex;
}

.PresidiumTag {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
}

.PresidiumYear {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.3);
  opacity: 0;
}

.PresidiumPortrait {
  width: 3vw;
}

.PresidiumPortrait>img {
  width: 100%;
  border-radius: 50%;
}

.PresidiumPortrait>img:hover {
  animation: scale .5s;
}

.presidiumMobile {
  display: none;
}

.PresidiumSaying {
  opacity: 0;
  transition: all .2s ease-in-out;
  position: absolute;
  top: -35vh;
  width: 15vw;
  min-height: 30vh;
  left: -3vw;
  color: #ffffff;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  padding: 0.5rem;
  border-color: transparent;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PresidiumSaying p {
  opacity: 0;
  word-break: break-all;
  transition: all .2s ease-in-out;
}

.u-tri {
  display: inline-block;
  border-top: 20px solid #a180b47d;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 40%;
}

.moonBox {
  width: 28vw;
}

.moonBox>img {
  width: 100%;
}

@keyframes scale {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, .9);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* activity */
.activity {
  height: 300vh;
  position: relative;
  overflow: hidden;
}

.activitySlideBox {
  width: 10vw;
  position: absolute;
  top: -5%;
  transition: all 0.5s ease-in-out;
  z-index: -2;
  left: 70%;
}

.activityIntroductionText {
  font-size: 1.2rem;
  letter-spacing: .3rem;
  padding: .5rem;
  position: absolute;
  top: 108%;
  z-index: -1;
  height: 272%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity img {
  width: 100%;
}

.cloudBoxA,
.cloudBoxB,
.cloudBoxC {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  /* background: #ffedd64f; */
}

.cloudBoxA svg {
  fill: #f5ddd6;
  opacity: 0.6;
  animation: cloudMoveA 5s infinite;
  position: absolute;
  width: 30%;
}

.cloudBoxB svg {
  fill: #e7c9d2;
  opacity: 0.8;
  position: absolute;
  animation: cloudMoveB 5s infinite;
  width: 30%;
}

.cloudBoxC svg {
  fill: #e7c9d2;
  position: absolute;
  animation: cloudMoveC 5s infinite;
  width: 30%;
}

.cloudBoxA svg:nth-child(1) {
  top: 15%;
  left: 3%;
}

.cloudBoxA svg:nth-child(2) {
  top: 25%;
  left: 0%;
}

.cloudBoxA svg:nth-child(3) {
  top: 70%;
  left: 22%
}

.cloudBoxA svg:nth-child(4) {
  top: 59%;
  left: 29%;
}

.cloudBoxA svg:nth-child(5) {
  top: 69%;
  left: 37%;
}

.cloudBoxA svg:nth-child(6) {
  top: 3%;
  right: 6%;
}

.cloudBoxA svg:nth-child(7) {
  top: 38%;
  right: 12%;
  fill: #e7c9d2;
}

.cloudBoxA svg:nth-child(8) {
  top: 41%;
  right: 17%;
}

.cloudBoxB svg:nth-child(1) {
  top: 50%;
  left: 33%;
  fill: #f5ddd6;
}

.cloudBoxB svg:nth-child(2) {
  top: 46%;
  left: 40%;
}

.cloudBoxB svg:nth-child(3) {
  top: 9%;
  left: 85%;
}

.cloudBoxB svg:nth-child(4) {
  top: 80%;
  left: 8%;
}

.cloudBoxB svg:nth-child(5) {
  top: 3%;
  left: 70%;
}

.cloudBoxC svg:nth-child(1) {
  top: 36%;
  right: 32%;
}

.cloudBoxC svg:nth-child(2) {
  top: 5%;
  fill: #f5ddd6;
  right: 15%;
}

.cloudBoxC svg:nth-child(3) {
  top: 75%;
  right: 10%;
}

.cloudBoxC svg:nth-child(4) {
  top: 14%;
  right: 7%;
}

.cloudBoxB {
  margin-top: 100vh;
}

.cloudBoxC {
  margin-top: 200vh;
}

.competion {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  position: absolute;
}

.competion img {
  opacity: 0;
  width: 32.5vw;
  height: 8vh;
  transition: all .5s ease-in-out;
  border-radius: 50%;
}

.activityimg {
  transition: all .3s;
  z-index: 2;
  cursor: pointer;
}

.activityIntroduction:hover div {
  transform: rotate3d(0, 1, 0, 90deg);
}

.competion:nth-child(1) {
  top: 0%;
  left: 35%;
}

.competion:nth-child(2) {
  top: 18%;
  left: 10%;
}

.competion:nth-child(3) {
  top: 43%;
  left: 28%;
}

.competion:nth-child(4) {
  top: 60%;
  left: 60%;
}

.competionName {
  text-align: center;
  -webkit-text-fill-color: #b99393;
  font-size: 1.9rem;
  font-family: 'ZiXinFangXiaMuTi';
  transform: skew(-20deg);
  transition: all .5s ease-in-out;
}

.competionName>span {
  opacity: 0.5;
  transition: all .1s ease-in-out;
  animation: wordShake 1s infinite;
  display: inline-block;
}

.slowpoke {
  position: absolute;
  bottom: 4%;
  left: 0;
  transition: all 3s;
  width: 50%;
  z-index: -1;
}

@keyframes competionIn {
  0% {
    transform: translate3d(0px, -40vh, 0px) scaleY(2);
    opacity: 0;
    border-radius: 50%;
  }

  100% {
    transform: translate3d(0px, 25vh, 0px) scaleY(4);
    opacity: 1;
    border-radius: 0;
  }
}

@keyframes competionOut {
  0% {
    border-radius: 0;
    transform: translate3d(0px, 20vh, 0px) scaleY(3);
    opacity: 1;
  }


  100% {
    transform: translate3d(0px, 45vh, 0px) scaleY(4.5);
    opacity: 0;
    border-radius: 50%;
  }
}


@keyframes wordShake {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(3deg)
  }

  100% {
    transform: rotate(0deg)
  }
}

@keyframes cloudMoveA {
  0% {
    transform: translateX(0px) scale(0.9);
  }

  50% {
    transform: translateX(20px) scale(0.9);
  }

  100% {
    transform: translateX(0px) scale(0.9);
  }
}

@keyframes cloudMoveB {
  0% {
    transform: translateX(0px) scale(1.2);
  }

  50% {
    transform: translateX(20px) scale(1.2);
  }

  100% {
    transform: translateX(0px) scale(1.2);
  }
}

@keyframes cloudMoveC {
  0% {
    transform: translateX(0px) scale(1.5);
  }

  50% {
    transform: translateX(20px) scale(1.5);
  }

  100% {
    transform: translateX(0px) scale(1.5);
  }
}

/* project */
.project {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#fff6f66e, #fff6f603);
}

.projectContent {
  flex-basis: 25%;
  /* background: url('../img/material/xsq.png') no-repeat; */
  overflow-x: hidden;
  position: relative;
}

.projectImgBox {
  width: 85%;
  max-height: 45%;
  overflow: hidden;
  border: 0.7vw solid #000000;
  margin: 0 auto;
}

.projectImgBox img {
  width: 100%;
  transition: all 3s ease-in-out;
}

.light {
  position: absolute;
  width: 1.5vh;
  border-radius: 50%;
  background: red;
  height: 1.5vh;
  bottom: 50%;
  right: 11%;
  transition: all .5s ease-in-out;
  z-index: 3;
}

.base {
  position: absolute;
  height: 6%;
  width: 85%;
  background: #c5c2bf;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 15px 15px;
}

.tray {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-48%, 0%);
}

.blackScreen {
  width: 82%;
  background: black;
  height: 43%;
  position: absolute;
  top: 0%;
  left: 9%;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin: 0 auto;
}

/* department */
.department {
  height: 100vh;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-top: -100vh;
}

.DepartmentContent {
  width: 40%;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: center;
  height: 25%;
  align-items: center;
  z-index: 4;
  color: white;
  border-radius: 30px;
  border: 2px #f8f9ad solid;
  transition: all .2s;
  position: relative;
}

.DepartmentContent:hover {
  box-shadow: 8px 7px 11px 4px #e8e7da
}

.hiddenImg {
  position: absolute;
  display: none;
  top: -100%;
  width: 20vw;
  left: 40%;
}

.hiddenImg>img {
  width: 100%;
}

.DepartmentContentImg {
  width: 60%;
  margin: 1rem;
}

.DepartmentContentImg img {
  width: 100%
}

.DepartmentContent p {
  font-size: 1.1rem;
  line-height: 2;
  padding: 0 .3rem;
}

.DepartmentContent:nth-child(2) {
  position: absolute;
  right: 0
}

.departmentComic {
  width: 500px;
  position: absolute;
  top: 0;
  z-index: 5
}

.departmentComic img {
  width: 100%;
}

@keyframes hiddenImgJump {
  0% {
    transform: translateY(10vh);
  }

  50% {
    transform: translateY(-10vh);
  }

  100% {
    transform: translateY(0vh);
  }
}

/* nav */
.nav {
  display: none;
  opacity: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 2rem;
  position: fixed;
  top: 0;
  z-index: 999999;
}

.nav>ul {
  width: 80%;
  margin: 0 auto;
  transition: all .8s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.nav>ul li {
  position: relative;
}

#nav {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 9999999;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #90a8cb;
}



.stick {
  position: absolute;
  width: 10px;
  height: 100px;
  transform: translate(-50%, -50%) rotate(-75deg);
  left: 50%;
  background-color: rgba(220, 160, 40, 0.7);
  top: 50%;
  opacity: 0;
  transition: opacity 0.1s;
  cursor: pointer;
}

.stick:hover {
  opacity: 1;
}

@keyframes load {
  0% {
    transform: translateY(10vh) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.illustrations {
  position: relative;
  height: 200vh;
  z-index: 2;
}

.blueBgBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background: #5350a4;
  background: radial-gradient(150% 50%, #5350a4 0%, rgba(253, 214, 189, 0) 100%);
  z-index: 3;
  top: 75%;
  height: 45%;
}

.purpleBgBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background: linear-gradient(#fff 50%, #9264ae 98%);
  z-index: 1;
}

.illustrationsHouse {
  position: sticky;
  width: 100%;
  z-index: 4;
  height: 100vh;
  top: 0;
}

.illustrationsHouse img {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#illustrationsTree {
  position: absolute;
  left: 0%;
  transition: all .3s;
  transform: scale(5);
  display: none;
  top: 2%;
}

/* contactUs */
.contactUs {
  height: 40vh;
  position: relative;
  z-index: 5;
}

.contactWay {
  position: absolute;
  height: 40vh;
  width: 100vw;
}

.contactWay h3 {
  font-size: 1.5rem;
  line-height: 3;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-80%, -50%);
}

.contactWay h3::before {
  position: absolute;
  left: -490%;
  top: 50%;
  width: 400%;
  height: 1px;
  content: " ";
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.contactWay h3>a {
  color: #978a9b;
  text-decoration: none;
}