div,
html,
body {
  margin: 0;
  padding: 0
}

.container {
  width: 100vw;
  position: relative;
  font-family: 'happyfont';
}

html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

#Logo {
  background: linear-gradient(#1d1d2c, 30%, #675284, 70%, #282135);
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 300vh;
}

/* logo */
.logo {
  height: 300vh;
  position: relative;
}

#logoText {
  color: #f8f9ad;
  position: absolute;
  right: 14%;
  top: 15%;
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 8;
  outline: none;
}

#logoText>p {
  letter-spacing: 0.15em;
  font-size: 16rem;
  transform: translate(0, 60vh);
  animation: logoText 1.5s 3.8s 1 forwards;
}

#contactBtn {
  padding: 0 6rem;
  line-height: 3;
  border: 1px solid #ffffff;
  font-size: 1.3rem;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  cursor: pointer;
  transform: translate(0, 60vh);
  animation: logoText 3s  3.8s 1 forwards;
}

.contactBtnBox {
  transition: all .3s;
}

.contactBtnBox:hover {
  transform: scale(1.3);
}

.littleThings {
  position: absolute;
  height: 200vh;
  width: 100vw;
}

.littleThings>img {
  position: absolute;
  width: 13%;
}

.littleThings img:nth-child(1) {
  top: 0;
  left: 2%;
  opacity: 0;
  animation: logoPurplePlant 3s 3.8s forwards;
}

.littleThings img:nth-child(2) {
  left: 28%;
  transform: translate(-16vw, 78vh);
  animation: flyRocket 3s  3.8s forwards;
  top: 18%;
}

.littleThings img:nth-child(3) {
  top: 60%;
  right: 11%;
  width: 20%;
}

.littleThings img:nth-child(4) {
  top: 89%;
  right: 4%;
  transform: rotate(20deg);
}

.littleThings img:nth-child(5) {
  top: 79%;
  left: 20%;
  transform: rotate(99deg);
}

.littleThings img:nth-child(6) {
  top: 42%;
  left: 80%;
  opacity: 0;
  animation: arrow 5s 5.8s infinite;
  cursor: pointer;
}

@keyframes flyRocket {
  0% {
    transform: translate(-16vw, 78vh);
    z-index: -2;
  }

  100% {
    transform: translate(0, 0) rotate(-15deg);
    z-index: 1;
  }
}

@keyframes logoPurplePlant {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes arrow {
  0%{
    opacity: 0;
  }
  100% {
    top: 43%;
    left: 78%;
    opacity: 1;
  }
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.8), 0 0 20px 0 #FFFFFF;
  animation: glow 5s infinite;
}

.starMedium {
  width: 6px;
  height: 6px;
}

.starBig {
  width: 9px;
  height: 9px;
  box-shadow: 0 0 40px 0 #ffffff, 0 0 20px 0 #FFFFFF, inset 0 0 4px #FFFFFF;
}

.meteor {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 8px rgba(255, 255, 255, 0.6);
  top: 0;
  left: 80%;
  opacity: 0.3;
  transform: rotate(-45deg) translate(0, -50px);
  animation: meteor 6s infinite;
}

.meteor:after {
  content: '';
  width: 20vw;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(237, 205, 163, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes glow {
  0% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes meteor {
  0% {
    transform: rotate(-45deg) translateX(0);
    opacity: 0.3;
  }

  10% {
    opacity: 1;
  }

  20% {
    transform: rotate(-45deg) translateX(-100vw);
    opacity: 0;
  }

  100% {
    transform: rotate(-45deg) translateX(-100vw);
    opacity: 0;
  }
}

@keyframes logoText {
  0% {
    transform: translate(0, 60vh);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* team */
.team {
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.teamRight {
  width: 60%;
  cursor: pointer;
  z-index: 2;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 80%;
  margin: auto;
}

.group {
  width: 35%;
  height: 25%;
}

.GroupImgBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.GroupImgBox img {
  z-index: 2;
}

.GroupComic {
  width: 45%;
  transition: all .5s ease-in-out;
}

.groupText p:nth-child(2) {
  text-indent: 1.3cm;
}

.borderTopLeft {
  position: absolute;
  top: 0;
  left: 0;
  border-top-style: solid;
  width: 0;
  height: 0;
  border-left-style: solid;
  animation: borderAnimation 5s infinite linear;
}

.borderBottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-style: solid;
  width: 0;
  height: 0;
  border-right-style: solid;
  animation: borderAnimation 3s infinite linear;
}

@keyframes borderAnimation {
  0% {
    width: 30%;
    height: 1%
  }

  50% {
    width: 1%;
    height: 50%
  }

  100% {
    width: 30%;
    height: 1%
  }
}

.groupText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -50% 0;
  z-index: 1;
  padding: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: #8e2828;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  transition-duration: 0.3s;
  position: relative;
}

/* activity */
.activity {
  height: 300vh;
  position: relative;
  overflow: hidden;
}

.activitySlideBox {
  width: 10vw;
  position: absolute;
  top: -5%;
  transition: all 0.5s ease-in-out;
  z-index: -2;
  left: 80%;
}

.activity img {
  width: 100%;
}

.competion {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  position: absolute;
}

.show h1 {
  transform: skew(0deg)
}

.show h1 span {
  animation: wordShake .8s 1;
  opacity: 1
}

.show img {
  animation: competionIn .8s 1 forwards
}

.hidden h1 {
  transform: skew(-20deg)
}

.hidden h1 span {
  animation: wordShake .8s infinite;
  opacity: 0.5
}

.hidden img {
  animation: competionOut .8s 1 forwards
}

.competion img {
  opacity: 0;
  width: 32.5vw;
  height: 8vh;
  transition: all .5s ease-in-out;
  border-radius: 50%;
}

.activityimg {
  transition: all .3s;
  z-index: 2;
  cursor: pointer;
}

.competionName {
  text-align: center;
  -webkit-text-fill-color: #b99393;
  font-size: 2rem;
  transform: skew(-20deg);
  transition: all .5s ease-in-out;
}

.competionName>span {
  opacity: 0.5;
  transition: all .1s ease-in-out;
  animation: wordShake 1s infinite;
  display: inline-block;
}

@keyframes competionIn {
  0% {
    transform: translate3d(0px, -40vh, 0px) scaleY(2);
    opacity: 0;
    border-radius: 50%;
  }

  100% {
    transform: translate3d(0px, 25vh, 0px) scaleY(4);
    opacity: 1;
    border-radius: 0;
  }
}

@keyframes competionOut {
  0% {
    border-radius: 0;
    transform: translate3d(0px, 20vh, 0px) scaleY(3);
    opacity: 1;
  }


  100% {
    transform: translate3d(0px, 45vh, 0px) scaleY(4.5);
    opacity: 0;
    border-radius: 50%;
  }
}


@keyframes wordShake {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(3deg)
  }

  100% {
    transform: rotate(0deg)
  }
}

/* department */
.department {
  height: 100vh;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-top: -100vh;
}

.DepartmentContent {
  width: 40%;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: center;
  min-height: 33%;
  align-items: center;
  z-index: 4;
  color: white;
  border-radius: 30px;
  border: 2px #f8f9ad solid;
  transition: all .2s;
  position: relative;
}

.DepartmentContentImg {
  width: 60%;
  margin: 1rem;
}

.DepartmentContentImg img {
  width: 100%
}

.DepartmentContent p {
  font-size: 1.3rem;
  line-height: 2;
  padding: 0 .3rem;
}

.DepartmentContent:nth-child(2) {
  position: absolute;
  right: 0
}

/* nav */
.nav,
.navMobile {
  display: none;
  opacity: 1;
  height: 100vh;
  color: #ffffff;
  font-size: 2rem;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
}

.navigationBox {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.navigationBox>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 30%;
  flex-wrap: wrap;
}

.navigationBox>ul li {
  position: relative;
  opacity: 0;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: opacity .3s;
  transition-delay: .2s;
}

#nav {
  position: fixed;
  top: 10px;
  left: 6px;
  z-index: 999999;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #90a8cb;
  width: 5%;
  height: 5%;
}

#nav .navLine {
  width: 40%;
  height: 8%;
  margin: 1vh;
  transition: all .4s;
}

.navHidden .navLine {
  background: #90a8cb;
}

.navHidden .navLine:nth-child(1),
.navHidden .navLine:nth-child(3) {
  transform: rotate(0);
}

#nav.navHidden .navLine:nth-child(2) {
  width: 30%;
}

.navShow .navLine {
  background: #d5aa57;
}

.navShow .navLine:nth-child(1) {
  transform: rotate(-45deg) translate(-30%, 200%);
}

.navShow .navLine:nth-child(2) {
  display: none;
}

.navShow .navLine:nth-child(3) {
  transform: rotate(45deg);
}

/* contactUs */
.contactUs {
  height: 40vh;
  position: relative;
  z-index: 5;
}

.contactWay {
  position: absolute;
  height: 40vh;
  width: 100vw;
}

.contactWay h3 {
  font-size: 1.4rem;
  line-height: 3;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-80%, -50%);
}

.contactWay h3>a {
  color: #978a9b;
  text-decoration: none;
}

/* load */
.load {
  background: #000;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  animation: loadEnd .8s 3s 1 ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  width: 100%;
  top: 0;
}

.ballBox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 7vw;
  width: 7vw;
}

.ball-triangle-path {
  position: relative;
  animation: ballScale .5s 2s 1 forwards;
  width: 100%;
  height: 100%;
}

.welcome {
  font-size: 6rem;
  color: #d2cece;
  transform: translate(0vw, 100vh);
  font-family: 'Dancing Script', cursive;
  letter-spacing: .2rem;
  animation: welcomeText .5s 2.4s 1 forwards;
}

.welcome>span {
  color: #dddd28;
}

@keyframes ballScale {
  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(0);
  }
}

.ball-triangle-path>div:nth-of-type(1) {
  top: 50%;
}

.ball-triangle-path>div:nth-of-type(2) {
  left: 25%;
}

.ball-triangle-path>div:nth-of-type(3) {
  top: 50%;
  left: 50%;
}

.ball-triangle-path>div:nth-child(1) {
  animation: ball-triangle-path-1 2s ease-in-out infinite;
}

.ball-triangle-path>div:nth-child(2) {
  animation: ball-triangle-path-2 2s ease-in-out infinite;
}

.ball-triangle-path>div:nth-child(3) {
  animation: ball-triangle-path-3 2s ease-in-out infinite;
}

.ball-triangle-path>div {
  animation-fill-mode: both;
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 100%;
  border: 1px solid #fff;
}

@keyframes ball-triangle-path-1 {
  33% {
    transform: translate(25px, -50px);
  }

  66% {
    transform: translate(50px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}


@keyframes ball-triangle-path-2 {
  33% {
    transform: translate(25px, 50px);
  }

  66% {
    transform: translate(-25px, 50px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes ball-triangle-path-3 {
  33% {
    transform: translate(-50px, 0);
  }

  66% {
    transform: translate(-25px, -50px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes loadEnd {
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes welcomeText {
  100% {
    transform: translate(0vw, 0vh);
  }
}