* {
  margin: 0;
  padding: 0
}

@font-face {
  font-family: 'ZiXinFangXiaMuTi';
  src: url('../font/ZiXinFangXiaMuTi-2.ttf')
}

#canvas {
  background: #282c5b;
  z-index: -1;
  position: absolute;
}

/* #c9ecdd , #faf8eb */

/* logo */
.logo {
  height: 100vh;
  position: relative;
}

#logoText {
  color: #f8f9ad;
  font-size: 20em;
  position: absolute;
  right: 14%;
  bottom: 17%;
  letter-spacing: 0.15em;
}

#shadow {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #282c5b;
  animation: logoText 3s forwards;
  width: 50vw;
  height: 30vh;
}

.logoRocket {
  width: 35vw;
}

.logoRocket>img {
  width: 100%;
  transform: translate(-20vw, 100vh) rotate(-3deg);
  animation: flyRocket 3s forwards;
}

.logoPurplePlant {
  width: 35vw;
  position: absolute;
  top: -14%;
  left: -4%;
  opacity: 1;
  animation: logoPurplePlant 2s forwards;
}

.logoPurplePlant>img {
  width: 100%;
}

@keyframes flyRocket {
  100% {
    transform: translate(10vw, 0) rotate(-3deg);
  }
}

@keyframes logoText {
  to {
    width: 0;
  }
}

@keyframes logoPurplePlant {
  from {
    opacity: 0;
  }
}

/* team */
.team {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: #282c5b;
  position: relative;
}

.backgroundImg {
  position: absolute;
  bottom: 0;
  left: -50%;
  transition: all 2.2s ease-in-out;
  z-index: 1;
}

.teamLeft {
  width: 40%;
  position: relative;
  z-index: 2;
}

.teamRight {
  width: 60%;
  cursor: pointer;
  z-index: 2
}

.teamRight {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 80%;
  margin: auto;
}

.group {
  width: 35%;
  height: 25%;
}

.groupImgBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.groupImgBox img {
  z-index: 2;
}

.groupComic {
  width: 45%;
  transition: all .5s ease-in-out;
}

.groupText {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -50% 0;
  z-index: 1;
  padding: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  transition-duration: 0.3s;
  position: relative;
}

.groupLogo {
  width: 20%;
  height: 30%;
  margin: auto 0;
  transition: all 0.3s ease-in-out;
}

.teamLeftLogo {
  width: 200px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 2.2s 1;
  box-shadow: 6px 4px 20px 2px #46393963;
  transition: all .8s ease-in-out
}

.borderTopLeft {
  position: absolute;
  top: 0;
  left: 0;
  border-top-style: solid;
  width: 0;
  height: 0;
  border-left-style: solid;
  animation: borderAnimation 5s infinite linear;
}

.borderBottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-style: solid;
  width: 0;
  height: 0;
  border-right-style: solid;
  animation: borderAnimation 3s infinite linear;
}

@keyframes borderAnimation {
  0% {
    width: 30%;
    height: 1%
  }

  50% {
    width: 1%;
    height: 50%
  }

  100% {
    width: 30%;
    height: 1%
  }
}

@keyframes bounce {
  0% {
    top: 0%;
    left: 0%;
  }

  30% {
    top: 90%;
    left: 10%;
    transform: rotate(90deg);
  }

  50% {
    top: 40%;
    left: 20%;
    transform: rotate(180deg);
  }

  80% {
    top: 70%;
    left: 30%;
    transform: rotate(270deg);
  }

  100% {
    top: 37%;
    left: 37%;
    transform: rotate(360deg);
  }
}


/* presidium */

.presidium {
  width: 70%;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}

.presidiumTop {
  height: 10%;
}

.presidiumBottom {
  height: 90%;
  display: flex;
  width: 200%;
  transition: all .5s ease-in-out;
}

.successivePresidium {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 90%;
}

.PresidiumPortrait>img {
  width: 70%;
  box-shadow: 2px 2px 2px 2px #e2e2e2;
}

.Presidium {
  background: #edeaeb24;
  padding: 1.5% 0;
  width: 25%;
  margin: 0 4%;
  box-shadow: 5px 4px 14px 0px #a08a8a;
  position: relative;
}

.PresidiumYear {
  margin: -10% 0% 0% 67%;
  font-size: 1.5rem;
}

.PresidiumContent {
  display: flex;
  align-items: center;
  margin-left: -10%;
  transition: all 3s ease-in-out;
}

.PresidiumPortrait {
  flex-basis: 40%;
}

.PresidiumTeam {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 2;
  font-size: 16px;
}

.signature {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 180px;
  transition: all .3s ease-in-out;
  height: 50px;
}

.signature:hover {
  height: 320px;
  white-space: pre-wrap;
}

.Presidium:nth-child(1) {
  padding: 1rem;
  background: transparent;
  box-shadow: none;
}

.Presidium:nth-child(1)>img {
  width: 80%;
}

/* activity */
.activity {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  margin-top: 15%;
}

.competion {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 100%;
  position: relative;
}

.competion img {
  opacity: 0;
  width: 19vw;
  height: 8vh;
  position: absolute;
  transition: all .8s ease-in-out;
}

.competion:nth-of-type(odd)>img {
  left: 0%;
}

.competion:nth-of-type(even)>img {
  right: 0%;
}

.competion:nth-child(1)>img {
  top: 20%;
}

.competion:nth-child(2)>img {
  top: 30%;
}

.competion:nth-child(3)>img {
  top: 240%;
}

.competion:nth-child(4)>img {
  top: 60%;
}

.competionName {
  text-align: center;
  height: 40%;
  -webkit-text-stroke: 2px #895847de;
  -webkit-text-fill-color: #fffbdd;
  font-size: 2.9rem;
  font-family: 'ZiXinFangXiaMuTi';
  transform: skew(-20deg);
  transition: all .5s ease-in-out;
}

.competionName>span {
  opacity: 0.5;
  transition: all .1s ease-in-out;
  animation: wordShake 1s infinite;
  display: inline-block;
}

@keyframes competionInOdd {
  0% {
    transform: translate3d(0px, -40vh, 0px) scaleY(2);
    opacity: 0;
  }

  100% {
    transform: translate3d(0px, -20vh, 0px) scaleY(3);
    opacity: 1;
  }
}

@keyframes competionOutOdd {
  0% {
    transform: translate3d(0px, -20vh, 0px) scaleY(3);
    opacity: 1;
  }

  100% {
    transform: translate3d(0px, 0px, 0px) scaleY(4);
    opacity: 0;
  }
}

@keyframes competionInEven {
  0% {
    transform: translate3d(0px, 0px, 0px) scaleY(2);
    opacity: 0;
  }

  100% {
    transform: translate3d(0px, -20vh, 0px) scaleY(3);
    opacity: 1;
  }
}

@keyframes competionOutEven {
  0% {
    transform: translate3d(0px, -20vh, 0px) scaleY(3);
    opacity: 1;
  }

  100% {
    transform: translate3d(0px, -40vh, 0px) scaleY(4);
    opacity: 0;
  }
}

@keyframes wordShake {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(3deg)
  }

  100% {
    transform: rotate(0deg)
  }
}


/* project */
.project {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25vh;
}

.projectContent {
  flex-basis: 25%;
  background: url('../img/666.png') no-repeat;
  overflow: hidden;
  position: relative;
}

.projectImgBox {
  width: 85%;
  margin-left: 10%;
  margin-top: 22%;
  max-height: 45%;
  overflow: hidden;
}

.projectImgBox img {
  width: 100%;
  transition: all 3s ease-in-out;
}

.light {
  position: absolute;
  width: 1.5vh;
  border-radius: 50%;
  background: red;
  height: 1.5vh;
  bottom: 23%;
  right: 7%;
  transition: all .5s ease-in-out
}

.blackScreen {
  width: 85%;
  background: black;
  height: 48%;
  position: absolute;
  top: 21%;
  left: 10%;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

/* department */
.department {
  height: 100vh;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  margin-top: 100vh;
}

.departmentContent {
  width: 40%;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: center;
  height: 25%;
  align-items: center;
  z-index: 4;
  color: white;
  border-radius: 30px;
}

.departmentContentImg {
  width: 60%;
  margin: 1rem;
}

.departmentContentImg img {
  width: 100%
}

.departmentContent p {
  font-size: 1rem;
  line-height: 2
}

.departmentContent:nth-child(2) {
  position: absolute;
  right: 0
}

.departmentComic {
  width: 500px;
  position: absolute;
  top: 0;
  z-index: 5
}

.departmentComic img {
  width: 100%;

}