@media (min-width: 1200px) {

  .DepartmentContent,
  .moonBox,
  .competion,
  .projectContent,
  .group {
    opacity: 0
  }

  .team {
    background: linear-gradient(#f2c2b3, 20%, #ffedd678);
  }

  .contactUs {
    background: #180d1b;
  }

  .activity {
    background: linear-gradient(180deg, #ffedd678, transparent);
  }


  @keyframes navShow {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes navHidden {
    0% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

  canvas,
  .GroupImgBox img:nth-child(1),
  .teamLeft,
  .project,
  .cloudBoxA,
  .cloudBoxB,
  .cloudBoxC,
  .activitySlideBox,
  .logoRocket,
  #shadow,
  .illustrations,
  .stick {
    display: none;
  }

  .container {
    background: linear-gradient(#1c333d, #3b484e, #445258, #30454e, #000000);
  }

  .logo {
    height: 100vh;
  }

  .DepartmentContent:nth-child(2) {
    position: inherit;
    right: 0;
  }

  .littleThings {
    display: none;
  }

  #logoText {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    line-height: 2;
  }

  #logoText>p {
    font-size: 5rem;
  }

  #contactBtn {
    padding: 0 15%;
  }

  .logoPurplePlant>img {
    display: none;
  }

  .department {
    margin-top: 35vh;
    width: auto;
    align-items: center;
    height: 200vh;
  }

  .DepartmentContent {
    width: auto;
    height: auto;
    margin: 0 2%;
    padding: 0.5rem;
  }

  .DepartmentContentImg {
    width: 200%;
  }

  .DepartmentContent p {
    font-size: 1rem;
    padding: 0 1vw;
  }

  .backgroundImg {
    display: none;
  }

  .teamRight {
    width: 100%;
    height: 100%;
  }

  .group {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3%;
  }

  .group:nth-child(even) {
    flex-direction: row-reverse;
  }

  .groupText {
    opacity: 1;
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
    transition-duration: 0s;
  }

  .GroupComic {
    width: 100%;
  }

  .team {
    height: auto;
    position: relative;
  }

  .activity {
    height: auto;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 100vh;
  }

  .activityImgBox {
    display: flex;
    width: 400vw;
    transition: all .3s;
  }

  .competion {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    position: inherit;
  }

  .competion img {
    width: 100vw;
    height: 33vh;
    opacity: 1;
    border-radius: 25px;
    padding: 1rem;
  }

  .competionName {
    text-align: center;
    -webkit-text-fill-color: #ddd;
    font-size: 1.3rem;
    transform: skew(0deg);
    transition: none;
  }

  .presidium {
    display: none;
  }

  .presidiumMobile {
    display: block;
  }

  .presidiumMobile_2019,
  .presidiumMobile_2018,
  .presidiumMobile_2017 {
    width: 100vw;
    height: 25vh;
    overflow: hidden;
  }

  .presidiumMobile_2019>ul,
  .presidiumMobile_2018>ul,
  .presidiumMobile_2017>ul {
    display: flex;
    width: 500%;
    transition: all 0.2s ease-in-out;
  }

  .presidiumMobile_2019>ul li,
  .presidiumMobile_2018>ul li,
  .presidiumMobile_2017>ul li {
    color: #ffffff;
    position: relative;
    width: 100%;
    margin: 0 0.5rem;
  }

  .presidiumMobile_2019>ul li h3,
  .presidiumMobile_2018>ul li h3,
  .presidiumMobile_2017>ul li h3 {
    line-height: 1.5;
    font-size: 1.3rem;
    width: 30%;
  }

  .presidiumMobilePortrait {
    width: 30%;
  }

  .presidiumMobileDes {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .presidiumMobilePortrait>img {
    width: 100%;
    border-radius: 50%;
  }

  .presidiumMobileSaying {
    display: none;
    position: absolute;
    top: 0;
    border: 1px solid #ffffff;
    height: 100%;
    padding: 0.5rem;
    width: 100%;
    word-break: break-all;
  }

  .contactWay {
    position: inherit;
    width: 100vw;
  }

  .contactWay h3 {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .nav {
    width: 100%;
  }

  @keyframes mobileTopScale {
    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes mobileTopHiddenScale {
    50% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes mobileBottomScale {
    50% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes navShow {
    0% {
      height: 0%;
    }

    100% {
      height: 100%;
    }
  }

  @keyframes navHidden {
    0% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  }
}